/* Page-Wide */
body {
  background-color: rgb(43, 14, 38);
  color: white;
  padding: 7px;
  font-family: 'Roboto Mono', monospace;
}

/* Paragraph Content */
.text {
  backround color: #FFFFFF
  color: rgb(43, 14, 38);
  padding: 7px;
  }
