#black {
  position:absolute;
  z-index: auto;
}
#white {
  position: absolute;
  z-index: 1;
  left: 125px;
  top: 125px;
}
#colors {
  position: absolute;
  z-index: 2;
  left: 125px;
  top: 125px;
}
