#black {
  position:absolute;
  z-index: auto;
}
#white {
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
}
#colors {
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 0px;
}
.img-with-text {
    text-align: justify;
    width: [width of img];
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}
.text-container {
  line-height: 200%;
}
