
#black {
  position:absolute;
  z-index: auto;
  top: 25px;
}
#white {
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 25px;
}
#colors {
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 25px;
}
