
body {
  background-color lightblue;
}
h1, span {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: lightblue;
  text-align: center;
  font-size: 25px;
}

h2, span {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: lightblue;
  text-align: center;
  font-size: 12;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
p {
  word-spacing: 30px;
}
.main-container {
  width: 70%;
  max-width: 7px;
  margin: 4em auto;
  padding: 2em;
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  main {
    text-align: center;
    margin: 2em;
  }

  footer {
    text-align: center;
  }
  * {
    box-sizing: border-box;
  }

  .contact {
    font-size: 12px;

  }
